*{
    padding: 0;
    margin: 0;
}
li >a{
    color: rgb(17, 17, 17);
}
.a navbar-brand{
    border: 2px solid rgb(204, 201, 28);
    padding: 25x;
    border-radius: 150px;
  
}
.collapse {
 overflow:hidden;
 border: none;
}

h1 span{
    color: blue;
    font-size: 30px;
    line-height: 50px;
    font-weight:bolder;
}
a{
    text-decoration: none;
}
.cls a{
text-decoration: none;
border: 2px solid blue;
padding: 10px;
border-radius: 20px;
color: white;
background-color: blue;
}

svg{
    margin-top: 15px;
    margin-left: 25px;
}
/* svg:hover{
   background: rgb(48, 51, 216);
    border-radius: 200%;
} */
.main img{
    width: 300px;
    /* height: 400px; */
    
}
.about
 h2{
    font-size: 30px;
    align-items: center;
    color: blue;
    text-decoration:underline;
}
.about
 h1{
    font-weight: bolder;
 }
 .about
 p{
    font-size: 20px;
    font-weight: 500;
    color: black;
 }
 .about img{
    /* height: 400px; */
    width: 250px;
    height: 250px;
 }
.skills h2{
    font-weight: bold;
    text-decoration: underline;
    color: blue;
}
.skills h4{
    font-weight: bolder;
}
.footer h3{
    font-size: 30px;
    text-decoration: underline;
 color: blue;
 text-align: center;
}
.footer{
    margin-bottom: 100px;
}
.waviy {
    position: relative;
    /* -webkit-box-reflect linear-gradient(transparent, rgba(0,0,0,.2)); */
    font-size: 20px;
  }
  .waviy span {
    font-family: 'Alfa Slab One', cursive;
    position: relative;
    display: inline-block;
    color:blue;
    text-transform: uppercase;
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i));
    
  }
  @keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
  }